/* colors
background-dark-color: 

 
 
 
 
 
 line in the bottom of header: ECECEC*/
:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
    --light-text-color:#FFFFFF;
    --semi-light-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --logo-text-color: #000000;
    --dark-background-color: #2F303A;
    --light-background-color:#FFFFFF;
    --semi-light-background-color: #F5F4FA;
    --line-color: #ECECEC;
    --border-color: #EEEEEE;
}

 
 body {
    font-family: 'Roboto', 'Raleway', sans-serif; 
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color: #757575);
    background-color: var(--light-background-color);
 }
/* -----------------HEADER--------------------- */

.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1,19;
color: var(--accent-color);
text-decoration: none;
}
.logo-dark {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1, 19;
color: var(--logo-text-color);
}

.button{
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
 }
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* -----------------HERO--------------------- */

/* -----------------FOOTER-------------------- */

.footer {
   background-color: var(--dark-background-color);
}

.logo-light {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1, 19;
color: var(--light-text-color);
}